#page-footer{
    padding-left: calc(50% - 980px / 2);
    padding-right: calc(50% - 980px / 2);
}
#main, body.splash #main{
    margin-left: calc(50% - 980px / 2);
    margin-right: calc(50% - 980px / 2);
}


* {
    background-repeat: no-repeat;
}
*, *:before, *:after{
    box-sizing: border-box;
}

/* * */
html, body{
    height: 100%;
    min-height: 100%;
    min-width: 980px;
    width: 100%;
    z-index: 2;/* Phone *//* Nest *//* Smaller Screens */
    color: silver;
}
@media all and (max-width: 980px){
    html, body{
        min-width: 100%;
    }
}
/* html,.. */
body{
    color: silver;
    font-family: "Helvetica Neue",Helvetica,arial,nimbussansl,liberationsans,freesans,clean,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}
span.amp{
    font-family: Baskerville, Palatino, "Book Antiqua", serif;
    font-style: italic;
}

a {
  color: #BEDB89;
  text-decoration: none;
}
a:active, a:hover {
  color: #fff;
  outline: 0;
  text-decoration: underline;
}
h2 a {
  color: #fff;
}

/* a */

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  color: silver;
  margin: 0;
  padding: 10px 0;
}

h2 a {
  text-decoration: underline;
}

h3 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
  color: #fff;
}

@media all and (min-width: 980px) {
  nav {
    margin-top: 40px;
  }
  nav li {
    display: inline-block;
  }
  nav li:not(:last-child) {
    border-right: 1px solid white;
    margin-right: 20px;
    padding-right: 20px;
  }
}

/*  ------------------------------------------------------------------
  Structure > Main
-------------------------------------------------------------------  */
#main{
    border-radius: 3px;
    padding: 70px 15px 15px;/* Phone *//* Nest *//* Smaller Screens */
}
@media all and (max-width: 980px){
    #main{
        margin: 0 0 0 0;
        width: 100%;
    }
}
/* #main */
body.collection, body.series{/* article */
}
body.collection article, body.series article{
    margin-left: 200px;/* Phone *//* Nest *//* Smaller Screens */
}
@media all and (max-width: 980px){
    body.collection article, body.series article{
        margin-left: 0;
    }
}
/* body.collection */
/*  ------------------------------------------------------------------
  Structure > Main Navigation
-------------------------------------------------------------------  */
#mobile-menu{
    background-image: url("/img/hamburger.svg");
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 32px;
    width: 32px;/* Phone *//* Nest *//* Smaller Screens */
}
@media all and (max-width: 980px){
    #mobile-menu{
        display: block;
    }
}
/* #mobile-menu  */
#main-navigation{
    float: right;
    margin: 32px 25px 0 0;/* a */
}
/* Smaller Screens */
body.mobile-nav-open #main-navigation{
    display: block;
    position: absolute;
    top: 180px;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px 0 0 0;
}
/* Nest */

/* Phone */
#main-navigation li{
    display: inline-block;
    min-width: 140px;
    text-align: center;
    width: 16%;/* Phone *//* Nest *//* Smaller Screens *//* Phone *//* Nest *//* Smaller Screens *//* &:last-child */
}
#main-navigation li:last-child{
    min-width: 50px;
    margin: 0 0 0 10px;
    width: 50px;/* Phone *//* Nest *//* Smaller Screens */
}
/* li */
#main-navigation a{
  color: #BEDB89;
    display: block;
    font-weight: 200;
    letter-spacing: 2px;
    margin: 0 5%;
    opacity: 0.9;
    text-transform: uppercase;
    width: 90%;/* Phone *//* Nest *//* Smaller Screens *//* Phone *//* Nest *//* Smaller Screens */
}
/* &:not(.icon-link) */
#main-navigation a svg{
    fill: #fff;
    margin-bottom: -7px;
}
#main-navigation a:not(.icon-link){
    line-height: 32px;/* .active */
}
#main-navigation a:not(.icon-link):hover{
  color: #BEDB89;
    background-color: #fff;
    border-radius: 3px;
    text-decoration: none;
    color: rgb(89, 130, 85);
}
#main-navigation a:not(.icon-link).active{
    border: 1px #fff solid;
    border-radius: 3px;
    opacity: 0.8;
    text-decoration: none;
}
#main-navigation a:not(.icon-link).active:hover{
    color: #000;
}
#main-navigation a:hover svg{
  fill: #BEDB89;
}
@media all and (max-width: 980px){
    #main-navigation{
        display: none;
    }
}
@media all and (max-width: 1400px){
    #main-navigation li{
        min-width: 120px;
    }
}
@media all and (max-width: 980px){
    #main-navigation li{
        width: 100%;
    }
}
@media all and (max-width: 980px){
    #main-navigation li:last-child{
        margin: 0;
        min-width: 100%;
        width: 100%;
    }
}
@media all and (max-width: 1400px){
    #main-navigation a{
        font-size: 12px;
        margin: 0 3%;
    }
}
@media all and (max-width: 980px){
    #main-navigation a{
        margin: 0 0 20px 0;
        width: 100%;
    }
}
/* #main-navigation */
/*  ------------------------------------------------------------------
  Structure > Page Footer
-------------------------------------------------------------------  */
#page-footer{
    text-align: center;
}
#page-footer p{
    font-size: 12px;
}
/* #page-footer */
/*  ------------------------------------------------------------------
  Structure > Page Header
-------------------------------------------------------------------  */
#page-header{
    background-attachment: fixed;
    background-color: rgb(89, 130, 85);
    background-image: url('/img/bg.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 103px;
    transition: height 1s;/* h1 */
}
body.mobile-nav-open #page-header{
    height: 500px;
}
#page-header h1{
    background-image: url("/img/absinthe-dark.svg");
    color: transparent;
    display: block;
    position: absolute;
    top: 10px;
    left: 25px;
    height: 150px;
    margin: 0;
    padding: 0;
    width: 300px;/* Phone *//* Nest *//* Smaller Screens */
}
@media all and (max-width: 980px){
    #page-header h1{
        background-position: center center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }
}
/* #page-header */
/*  ------------------------------------------------------------------
  Structure > Page Navigation
-------------------------------------------------------------------  */
#page-navigation{
    float: left;/* a */
}
/* Smaller Screens */
#page-navigation .page-navigation-header{
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}
/* Nest */
#page-navigation ol{
    margin: 0 50px 50px 0;/* Phone *//* Nest *//* Smaller Screens */
}
/* ol */
#page-navigation li{
    border-bottom: 1px solid rgb(237, 222, 230);/* Phone *//* Nest *//* Smaller Screens *//* @mixin bodhi smaller-then-nest */
}
/* li */
#page-navigation a{
    display: block;
    font-size: 14px;
    margin: 15px 15px 15px 0;
    width: 100%;/* Phone *//* Nest *//* Smaller Screens */
}
/* Phone */
#page-navigation a:hover{
    color: rgb(132, 72, 93);
    text-decoration: none;
}
#page-navigation a.active{
    font-weight: 700;
}
@media all and (max-width: 980px){
    #page-navigation{
        float: none;
        margin-bottom: 30px;
        text-align: center;
    }
}
@media all and (max-width: 980px){
    #page-navigation ol{
        margin: 0;
    }
}
@media all and (max-width: 980px){
    #page-navigation li{
        border-bottom: none;
        margin-bottom: 10px;
        position: relative;
        display: inline-block;
    }
    #page-navigation li.with-after:after{
        display: block;
        content: "";
        background-color: rgb(243, 242, 242);
        height: 8px;
        width: 8px;
        position: absolute;
        right: -4px;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }
    #page-navigation li:last-child:after{
        content: none;
    }
}
@media all and (max-width: 980px){
    #page-navigation a{
        display: inline-block;
        font-size: 12px;
        margin: 0;
        padding: 0 20px;
        width: auto;
    }
}
/* #main-navigation */
/*  ------------------------------------------------------------------
  Structure > Splash
-------------------------------------------------------------------  */
body.splash{
    background-attachment: fixed;
    background-color: #fff;
    background-image: url('/img/bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 660px;/* #mobile-menu *//* Phone *//* Nest *//* $page-footer */
}
body.splash #mobile-menu{/* Phone *//* Nest *//* Smaller Screens */
}
/* Smaller Screens */
body.splash #main-navigation{
    clear: both;
    width: 100%;/* Phone *//* Nest *//* Smaller Screens */
}
/* #main-navigation  */
body.splash #main{
    height: 100%;
    min-height: 660px;
    padding: 0;
    position: relative;
    text-align: center;
    background-color: transparent;/* Phone *//* Nest *//* Smaller Screens */
}
/* #main */
body.splash h1{
    background-image: url("/img/absinthe.svg");
    opacity: 0.8;
    color: transparent;
    display: block;
    height: 425px;
    margin: 0;
    padding: 0;
    width: 700px;/* Phone *//* Nest *//* Smaller Screens */
}
/* h1 */
body.splash h2{
    opacity: 0.8;
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    margin: 30px 0 0;
    padding: 0;
}
body.splash h2 .amp{
    display: inline-block;
    padding: 0 6px 0 4px;
}
/* h2 */
body.splash .splash-content{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);/* Phone *//* Nest *//* Smaller Screens */
}
/* .splash-content */
body.splash #page-footer{
    color: #fff;
    position: absolute;
    bottom: 10px;
    width: 100%;
}
body.splash #page-footer a{
  color: #BEDB89;
}
@media all and (max-width: 980px){
    body.splash #mobile-menu{
        display: none;
    }
}
@media all and (max-width: 980px){
    body.splash{
        min-height: 750px;
    }
}
@media all and (max-width: 980px){
    body.splash #main-navigation{
        display: block;
        position: absolute;
        top: 300px;
        left: 50%;
        transform: translateX(-50%);
        margin: 10px 0 0 0;
        width: auto;
    }
}
@media all and (max-width: 980px){
    body.splash #main{
        margin-left: 0;
        margin-right: 0;
    }
}
@media all and (max-width: 980px){
    body.splash h1{
        height: 174px;
        width: 300px;
    }
}
@media all and (max-width: 980px){
    body.splash .splash-content{
        top: 30px;
        transform: translateX(-50%);
    }
}
/* body.splash */
